@font-face {
  font-family: "Nimbus San L";
  src: url("fonts/NimbusSanL-Regular.ttf") format("truetype");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     
}

html, body {
    font-family: "Nimbus San L", sans-serif;  
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
}

#nav{
    position: relative;
    padding: 2vw 7vw;
    display: flex;
    justify-content: space-between;
}

#nav a{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

#nav #centeratag{
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#nleft{
    gap: 30px;
    display: flex;
}

#hero{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0vw 7vw;
    margin-top: 7.5vw;
}

#sus{
     width: 13.7vw;
     margin-top: -5%;
}

#sus p{
    font-weight: 800;
    opacity: .5;
    font-size: 13px;
    margin: 5px 0;
    text-transform: capitalize;
}

#sus #susimage{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 16vw;
}

#sus #susimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#eph{
    position: relative;
    width: 30vw;
    min-height: 42vw;
    margin-top: 2%;
}

#imgtext{
    width: fit-content;
    height: fit-content;
}

#eph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#eph p{
    font-size: 1.3vw;
    letter-spacing: -.05vw;
    width: 38%;
}

#eph #headings{
    position: absolute;
    top: -15%;
    left: -12%;
}

#eph #headings h1{
    letter-spacing: -.3vw;
    font-size: 4.8vw;
    font-weight: 200;
    line-height: 1;
}

#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}

#visit i{
    font-size: 30px;
    opacity: .7;
}

#visit h3{
    font-weight: 400;
    color: #5e5e5e;
}

#motive{
    display: flex;
    justify-content: space-between;
    padding: 9vw 7vw;
}

#motive p{
    line-height: 1.5;
    margin-top: 3vw;
    position: relative;
    width: 80%;
    font-size: 2vw;
}

#motive span{
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    border-radius: 100px;
    margin-bottom: -12.5px;
}

#onespan{
    width: 80px;
    height: 50px;
    background-image: url("./images/bluegirl.jpg");
    background-size: cover;
    background-position: center;
}

#twospan{
    width: 120px;
    height: 50px;
    background-image: url("./images/shaljam.jpg");
    background-size: cover;
    background-position: center;
}

#threespan{
    width: 80px;
    height: 50px;
    background-image: url("./images/grass.jpg");
    background-size: cover;
    background-position: center;
}

#pictures{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    padding-left: 14vw;
}

#firstpic{
    width: 15vw;
}

#firstpic #picimg{
    width: 100%;
    height: 22vw;
    margin-bottom: 1vw;
}

#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h2, #secpic h2, #btext h2{
    letter-spacing: -.05vw;
}

#firstpic p{
    opacity: .5;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 10px;
    width: 65%;
}

#secpic{
    width: 25vw;
    flex-direction: column;
    display: flex;
    align-items: end;
}

#secpic #picimg{
    width: 100%;
    height: 35vw;
    margin-bottom: 1vw;
}

#secpic p{
    opacity: .5;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 10px;
    width: 55%;
    text-align: right;
}

#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 4vw;
}

#bimg{
    width: 60%;
    height: 70vh;
}

#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}

#btext{
    width: 35%;
    padding: 0 5vw;
}

#btext p{
    opacity: .5;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 20px;
    width: 60%;
}

#future{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

#future video{
    opacity: .1;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.2);
    position: absolute;
    top: 50%;
    left: 50%;
}

#ftext{
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 20px;
}


#ftext button{
    padding: .7vw 1.2vw;
    margin-top: 10px;
    font-size: 1vw;
    text-transform: capitalize;
    letter-spacing: -.05vw;
    font-weight: 600;
    border-radius: 100px;
    background-color: #fff;
    color: #5e5e5e;
    border: 1px solid #c6c6c6;
}